h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

header {
    line-height: 1.3;
    background-color: white;
    padding: 20px;
    margin-top: 1%;
    border: 3px solid black;
    text-align: center;
    min-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #f1f1f1;
    margin-bottom: 10%;
    font-size: 16px;
}

article {
    background-color: white;
    padding: 2%;
    margin-top: 1%;
}

img {
    max-width: 40%;
    height: auto;
    margin: 0 auto;
    display: block;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-bottom: 2%;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 56px;
    background-color: lightgrey;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button a {
    text-decoration: none;
    color: black;
}