h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

header {
    line-height: 0.5;
    background-color: white;
    padding: 2%;
    margin-top: 1%;
    border: 3px solid black;
    text-align: center;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #f1f1f1;
    margin-bottom: 10%;
    font-size: 16px;
}

article {
    background-color: white;
    padding: 2%;
    margin-top: 1%;
}

img {
    max-width: 40%;
    height: auto;
    margin: 0 auto;
    display: block;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-bottom: 2%;
}