h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
  }
  
  .nav li {
    display: inline;
    float: left;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav a {
    display: block;
    padding: 8px;
  }
  
  li a:hover {
    background-color: darkgray;
  }

.active {
    background-color: darkgrey;
}

body {
    width: 1100px;
    margin: auto;
    background-color: grey
}

.contact {
    background-color: white;
    width: 500px;
    box-shadow: 5px 10px black;
    margin: 0 auto;
    text-align: center;
}

.contact h2 {
    font-size: 40px;
}

.contact h3 {
    margin-top: -15px;
}

a {
text-decoration: none;
}

.skills {
  background-color: white;
  width: 350px;
  box-shadow: 5px 10px black;
  padding: 5px;
}

.skills h2 {
  text-align: center;
}