header {
    text-align: center;
    line-height: 20px;
    border: 1px solid black;
    font-family: Arial, 'Times New Roman', Times, serif;
}

header h1 {
    font-size: 45px;
}

header h2 {
    font-size: 30px;
}

.contact-info {
    line-height: 3px;
}

body {
    width: 1000px;
    margin: 0 auto;
}

.job {
    line-height: 3px;
}

.education {
    line-height: 3px;
}

.skills-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.milserv{
    line-height: 3px;
}

.groups {
    line-height: 3px;
}