header {
    text-align: center;
    line-height: 20px;
    font-family: Arial, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 20px;
}

header h1 {
    font-size: 45px;
    color: #000435;
}

header h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 8px;
}

.divider-one {
    border: 2px solid #000435;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider-two {
    border: 2px solid skyblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

nav ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    line-height: 3px;
}

body {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profsum {
    width: 600px;
    text-align: justify;
}

.work-experience {
    width: 600px;
}

.side-bar {
    width: 350px;
    float: right;
    background-color: skyblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.education {
    line-height: 3px;
}
.job {
    line-height: 3px;
}

.skills-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.milserv{
    line-height: 3px;
}

.groups {
    line-height: 3px;
}

.remove-space {
    margin-bottom: 0;
}

/*Style for Download Button*/
.btn {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

/*Darker background on mouse-over*/
.btn:hover {
    background-color: royalblue;
}

/* CSS styling for Coast Guard Awards hover over descriptions */
.tooltip {
    position: relative;
    cursor: help;
}

.tooltip-text {
    visibility: hidden;
    width: 260px;
    background-color: #222;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
