h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

header {
    line-height: 0.5;
    background-color: white;
    padding: 2%;
    margin-top: 1%;
    border: 3px solid black;

}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #f1f1f1;
    margin-bottom: 10%;
}

article {
    background-color: white;
    padding: 2%;
    margin-top: 1%;
}

img {
    margin: 0 auto;
    display: block;
}